.MovieDetail {
  padding: 16px;
  text-align: center;

  /* Mobile-first styles */
  background-color: #f5f5f5;
  font-size: 16px;
}

.MovieDetail h1 {
  font-size: 24px;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 10px;
}

.MovieDetail img {
  max-width: 100%;
  height: auto;
}

.MovieDetail p {
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
  font-size: 18px;
}

.MovieDetail a {
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
  font-size: 18px;
}

/* Styles for larger screens (e.g., tablets or desktops) */
@media (min-width: 768px) {
  .MovieDetail {
    max-width: 600px;
    margin: 0 auto;
    padding: 32px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .MovieDetail h1 {
    font-size: 32px;
  }

  .MovieDetail p {
    font-size: 20px;
  }
}

.ProductionCompanies {
  margin-top: 20px;
}

.ExtraData {
  display: flex;
  flex-direction: column; /* Set flex direction to column */
  align-items: center; /* Align items in the center vertically */
}

.RelDate {
  margin: 0;
}

.RatingMovie {
  background-color: rgba(169, 169, 169, 0.3); 
  border-radius: 10px; 
  padding: 10px; 
  display: inline-block; 
}

.ProductionPills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ProductionPills .ProductionPill {
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
  border-radius: 20px;
  padding: 8px 16px;
  margin: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.ProductionPills .ProductionPill:hover {
  background-color: #0056b3;
  color: #fff;
}

